rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write:
        if signedIn()
        && request.auth.uid == userId;
    }

match /users/{userId}/artifacts/{allPaths=**} {
  allow read: if request.auth != null
    && request.auth.uid == userId;

  allow write: if false;
}
    match /projects/{projectId}/users/{userId}/{allPaths=**} {
      allow read, write:
        if signedIn()
        && request.auth.uid == userId;
    }

    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
